token=6341577140:AAjdkyy5IN23S_uYhdnK3eGGk_31QjaNbVP
SECRET_KEY=seret-key
AUTHORIZATION_KEY=e32ed23r23r
FLASK_ENV=development

DB_DRIVER=postgresql+psycopg2
DB_USER=postgres
DB_PASS=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=test_bot_secretar

URL_ADMIN=https://localhost/login


DASHBOARD_EXPENSE = /admin/analytics/expense/
DASHBOARD_WEIGHT = /admin/analytics/weight/
