{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}
    <a href="/logout" style="display: inline-block;
                         padding: 10px 20px;
                         margin: 20px;
                         background-color: #3498db;
                         color: white;
                         text-decoration: none;
                         border-radius: 5px;
                         transition: background-color 0.3s ease;
                         font-size: 16px;
                         font-weight: bold;">
    ВЫХОД <span style="color: #e74c3c;">{{ current_user }}</span>
  </a>
{% endblock %}