{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='file.css') }}">
<a href="/exit">ВЫХОД</a><br><br>
<div class="analytic">
    <h4> Динамика расходов</h4><a href="/admin/analytics/"><img src="/static/image1.jpg"  alt=""></a>
</div>
<div class="analytic">
    <h4> Динамика веса</h4><a href="/admin/analytics/weight"><img src="/static/weight.jpg"  alt=""></a>
</div>
<div class="analytic">
    <h4>Учет БЖУ</h4><a href="/admin/analytics/nutrition"><img src="/static/nutrition.jpg"  alt=""></a>
</div>
{% endblock %}